Title: About
IsPage: true
ShowInNavbar: true
Order: 500
---
<p>Hi, my name is Alex Hedley</p>

<p>This blog was generated using <a href="https://www.statiq.dev/">Statiq</a> a really nice open source tool that I can only suggest you to have a look at.</p>